div.konzilo-tabs-panel {
  min-height: 42px;
  overflow: auto;
  clear: both;
  padding: 10px 0.9em;
  border: solid 1px #dfdfdf;
  background-color: #fdfdfd;
}

.konzilo-tabs-panel {
  border-width: 3px;
  border-style: solid;
}

.konzilo-tabs-panel .tips {
    margin-top: 5px;
}

.konzilo-social-box {
  background: #f5f5f5;
  padding: 10px;
  margin-bottom: 40px;
  box-shadow: 0 0 0 2px #f0f0f0;
  min-height: 50px;
}

.konzilotabs .radios {
  float: left;
  margin-right: 10px;
  padding: 10px;
}

.konzilotabs .radios.active {
  background: #fdfdfd;
}

.konzilotabs .radio-group {
  overflow: hidden;
  margin-top: 15px;
}

.konzilotabs li.ui-tabs-active {
  border: 1px solid #dfdfdf;
  border-bottom-color: #fdfdfd;
  background-color: #fdfdfd;
}

.konzilotabs ul.tabs > li {
    position: relative;
    display: block;
    padding: 7px;
    margin-top: 1px;
    margin-bottom: 0px;
    margin-right: 10px;
    float: left;
}

.konzilotabs ul.tabs > li.active {
    margin-top: 0;
    background: #FDFDFD;
    border: 1px solid #DFDFDF;
    border-bottom-color: #fdfdfd;
    margin-bottom: -1px;
}

.konzilotabs ul.tabs > li.add-profiles {
    height: 25px;
    width: 125px;
}

li.add-profiles:hover, .konzilotabs .tab:hover {
    background: #f0f0f0;
}

li.add-profiles a {
  padding: 5px 10px;
  display: inline-block;
}

.konzilo-social-timestampdiv {
  display: none;
}

.konzilotabs ul.dropdown {
  position: absolute;
  left: -1px;
  background: #fff;
  padding: 10px;
  border-bottom: 1px solid #dfdfdf;
  border-left: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
  top: 38px;
  width: 119px;
  z-index: 100;
}

.konzilotabs ul.dropdown > li {
    display: block;
    float: none;
}
.konzilotabs ul.tabs > li > ul {
  white-space: nowrap;
}

.konzilotabs ul.dropdown > li a {
    color: #000;
    text-decoration: none;
}

.konzilotabs ul.dropdown > li a:hover {
    color: #ff6900;
}

.konzilotabs ul.tabs {
    margin: 0;
}

.konzilotabs ul.dropdown > li > a > i,
.konzilotabs ul.tabs > li.tab > a > i,
.konzilotabs ul.tabs > li.tab > a > i {
    font-size: 140%;
    display: inline-block;
}

.konzilotabs ul.tabs > li.tab a.dashicons-dismiss,
.konzilotabs ul.tabs > li.tab a.dashicons-dismiss {
    font-size: 110%;
    width: auto;
    padding-left: 5px;
    padding-top: 5px;
    color: #000;
    float: right;
    display: block;
}

.konzilotabs ul.tabs li.tab a.profilename {
    display: inline-block;
}

.konzilotabs ul.tabs li.tab a {
    color: #000;
    text-decoration: none;
}

.konzilotabs ul.tabs a .icon-twitter-circled {
    color: #55acee;
}

.konzilotabs ul.tabs a .icon-facebook-circled {
    color: #3b5998;
}

.konzilotabs ul.tabs a .icon-linkedin {
    color: #0077b5;
}


.konzilotabs ul.tabs li.tab a:hover {
  color: #ff6900;
}

a.remove-box {
    float: right;
    color: #000;
}

.konzilo-social-box .publish-settings {
    padding-top: 5px;
}

.konzilo-social-box .publish-settings .radios {
    padding-right: 5px;
}

.add-new-box {
    color: #000;
}

.queueForms .day {
    padding-right: 5px;
}

.konzilo-social-box .sent-at {
    padding-top: 5px;
    color: #60ad5f;
    font-weight: bold;
}

#konzilo-post-status {
    font-weight: 600;
}

#konzilo-status-select {
    line-height: 1.5em;
    margin-top: 3px;
    padding-left: 20px;
}

#konzilo-status-select label {
    display: block;
}

#konzilo-status-select .queue-settings {
    margin-left: 40px;
    margin-top: 10px;
}

#konzilo-status-select .queue-settings label {
    padding: 7px 0;
}    

label[for=konzilo-status] {
    
}

label[for=konzilo-status]:before {
    font: normal 20px/1 'dashicons';
    speak: none;
    display: inline-block;
    padding: 0 5px 0 0;
    top: 0;
    left: -1px;
    position: relative;
    vertical-align: top;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none !important;
    content: '\f145';
    top: -1px;
    color: #82878c;
}

.socialform label {
    font-weight: 600;
    display: block;
    margin-bottom: 10px;
}

.socialform textarea {
    width: 100%;
    min-height: 50px;
}

.socialform {
}

.socialform .tabs {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.socialform .tabs li {
    float: left;
    margin: 0;
    padding: 0;
    margin-right: 10px;
    
}

.socialform .tabs li a.active {
    background: #fdfdfd;
    border: 1px solid #dfdfdf;
    border-bottom: 1px solid #fdfdfd;
    color: #000;
}

.socialform .tabs li a {
   padding: 5px;
   display: block;
   text-decoration: none;
}

.socialform .tabs li a:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.socialform .content-form, .socialform .schedule {
    margin-top: -1px;
    background: #fdfdfd;
    border: 1px solid #dfdfdf;
    padding: 10px;
}

.socialform .channels label {
    display: inline-block;
    margin-right: 5px;
    font-weight: normal;
}

.socialform .schedule table {
    text-align: center;
    width: 100%;
}

#konzilo-status-select .save-timestamp,
#konzilo-status-select .cancel-timestamp {
    display: none;
}
