<div class="misc-pub-section misc-pub-post-status">
  <label for="konzilo-status">{{__('Publishing:')}}</label>
  <span id="konzilo-post-status">
    {{konzilo_status}}
  </span>
  <a href="#konzilo-post-status"
     class="edit-konzilo-status hide-if-no-js">
    <span aria-hidden="true">{{__('Edit')}}</span>
    <span class="screen-reader-text">
      {{__('Edit status')}}
    </span>
  </a>
  <div id="konzilo-status-select" class="hide-if-js">
    <label><input type="radio" name="konzilo_type"
                  value="stored" {{checked(post, 'stored')}} />
      <span>{{__('Park')}}</span>
    </label>
    {% if has_queues %}
    <label>
      <input type="radio" name="queue_items" value="queue" {{checked(post, ['queue_last', 'queue_first'])}} />
      <span>{{__('Publish list')}}</span>
    </label>
    <div class="queue-settings">
      <select name="konzilo_queue">
        {% for queue in queues%}
        <option value="{{queue.id}}" {{selected(queues, post.queue)}}>{{queue.name}}</option>
        {% endfor %}
      </select>
      <label>
        <input type="radio" name="konzilo_type"
               value="queue_last" {{checked(post, 'queue_last')}} />
        <span>{{__('Put last in queue')}}</span>
      </label>
      <label>
        <input type="radio" name="konzilo_type"
               value="queue_first" {{checked(post, 'queue_first')}} />
        <span>{{__('Put first in queue')}}</span>
      </label>
    </div>
    {% endif %}
    <label>
      <input type="radio" name="konzilo_type" value="now" {{checked(post, 'now')}} />
      <span>{{__('Publish now')}}</span>
    </label>
    <label>
      <input type="radio" name="konzilo_type" value="date" {{checked(post, 'scheduled')}} />
      <span>{{__('Schedule')}}</span>
    </label>
    <div id="timestampdiv" class="hide-if-js">
      {{touch_time(action)}}
    </div>

    <a href="#konzilo-post-status" class="save-konzilo-status hide-if-no-js button">{{'OK' | t}}</a>
    <a href="#konzilo-post-status" class="cancel-konzilo-status hide-if-no-js button-cancel">{{'Cancel' | t}}</a>

  </div>
</div>
